<?xml version="1.0"?>
 
<launch>

  <arg name="critical_slope" default="30"/> <!--40-->
  <arg name="input_odom" default="/odometry/filtered" />
  
   <node pkg="traversability_filter" type="slope_calculation" respawn="true" name="slope_calculation" output= "screen">	        
 	 <param name="max_slope" type="double" value="$(arg critical_slope)"/>
	 <param name="min_slope" type="double" value="0.0" />
 	 <param name="radius_search" type="double" value="0.3" /><!--0.5 -->
 	 <param name="input_cloud" type="string" value="/ugv/bounded_map" /> <!--/elevation_map_visualization/elevation_points -->
 	 <param name="input_odom" type="string" value="$(arg input_odom)" />
    </node>

   

</launch>
