<?xml version="1.0"?>
<launch>
	
	<arg name="input_odom_topic" default="/aliengo/odometry"/> 
	<arg name="use_mapping" default="true" />
	<arg name="input_gridmap_topic" default="/elevation_mapping_gridmap/local" if="$(arg use_mapping)"/> 
	<arg name="input_gridmap_topic" default="/elevation_gridmap" unless="$(arg use_mapping)"/>  
	<arg name="critical_max_slope" default="25"/> 
	<arg name="critical_max_roughness" default="0.03" />
	<arg name="critical_max_traversability" default="0.2" />
	<arg name="slope_on" default="true" />
	<arg name="roughness_on" default="true"/>
	<arg name="traversability_on" default="true" />

    	<!--slope filter -->
	<node pkg="traversability_stable_filter" type="slope_filter_node" respawn="true" name="slope_filter_node" output= "screen"   if="$(eval  slope_on)">
		 <rosparam file="$(find aliengo_config)/config/traversability/slope_param.yaml" />
		 <param name="slope/input_odom_topic" type="string" value="$(arg input_odom_topic)" />
		 <param name="slope/input_gridmap_topic" type="string" value="$(arg input_gridmap_topic)" />
		 <param name="slope/output_gridmap_topic" type="string" value="/slope_gridmap" />
		 <param name="slope/traversability_slope_threshold" type="double" value="$(arg critical_max_slope)" /> 

		 <param name="slope/input_cloud_topic" type="string" value="/mapping_viz/mapped_elevation_points" if="$(arg use_mapping)" />  
		 <param name="slope/input_cloud_topic" type="string" value="/bounded_map" unless="$(arg use_mapping)" />
	</node>
    	<!--roughnnes filter-->
	<node pkg="traversability_stable_filter" type="roughness_filter_node" respawn="true" name="roughness_filter_node" output= "screen"    if="$(eval  roughness_on)">	        
		<rosparam file="$(find aliengo_config)/config/traversability/roughness_param.yaml" />
		<param name="roughness/output_gridmap_topic" value="/roughness_gridmap" />
		<param name="roughness/input_gridmap_topic" value="$(arg input_gridmap_topic)" />
		<param name="roughness/traversability_roughness_threshold" value="$(arg critical_max_roughness)" />
	</node>

	
        <!-- traversability filter and probabilistic traversability calculation -->
	<node pkg="traversability_stable_filter" type="general_traversability_node" respawn="false" name="general_traversability_node" output= "screen"   if="$(eval  traversability_on)">	        
		<rosparam file="$(find aliengo_config)/config/traversability/general_traversability_param.yaml" />	        
		<param name="traversability/critical_max_slope" type="double" value="$(arg critical_max_slope)" />
		<param name="traversability/critical_max_roughness" type="double" value="$(arg critical_max_roughness)" />
		<param name="traversability/critical_max_traversability" type="double" value="$(arg critical_max_traversability)" />

 		<param name="estimation/input_odom_topic" type="string" value="$(arg input_odom_topic)" />
	</node>
</launch>
